
h1 {
      color: blue;
      font-size: 65px;
      font-weight:lighter;
      font-family: 'roboto', sans-serif;
      font-style:italic;
      text-shadow: 10px 10px 8px #8297df;
}
p{
   color:rgb(66, 226, 133);
   font-size:30px;
   font:weight 1000px;
   font-family: 'roboto', sans-serif;
   font-style: italic;
   line-height: 35px;
   letter-spacing:10px;
   word-spacing:50px;
   text-align: left;
   text-transform: capitalize;
   text-decoration-color: blue;
   
}